<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover, cobertura</Format>
          <ExcludeByFile>
            **/Program.cs,
            */Extensions/**,
            */BackgroundServices/**/*,
            */Constants/**/*,
            */Models/**/*,
            */Exceptions/**/*,
            */Configurations/**/*
          </ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>