<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" /> -->
		<add key="Website" value="https://pkgs.dev.azure.com/CPFB/Website/_packaging/Website/nuget/v3/index.json" />
	</packageSources>
</configuration>